<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Test Data Portal</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="index.html">
            <strong>Generate Test Data Portal</strong>
        </a>
    </div>
</nav>

<section class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Create tasks</h2>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <p></p>
            <p></p>
            <form class="form-floating">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="client_id">Client ID</label>
                    <div class="col-sm-10 w-50">
                        <input class="form-control" id="client_id"
                               placeholder="123456">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="client_id">Payment type</label>
                    <div class="col-sm-10 w-50">
                        <select aria-label="Default select example" class="form-select"
                                id="payment_type">
                            <option selected value="Prepaid">Prepayment type
                            </option>
                            <option value="Postpaid">Postpayment type</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"
                           for="local_warehouse_id">Local warehouse</label>
                    <div class="col-sm-10 w-50">
                        <input class="form-control" id="local_warehouse_id"
                               placeholder="12345678909876">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"
                           for="type_id">Type ID</label>
                    <div class="col-sm-10 w-50">
                        <input class="form-control" id="type_id"
                               placeholder="45645676567767">
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"
                           for="boxes_count">Box count </label>
                    <div class="col-sm-10 w-50">
                        <input class="form-control" id="boxes_count" placeholder="Boxes count"
                               type="number" value="1">
                    </div>
                </div>
            </form>
            <p></p>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-primary float-end" id="btn"> Create</button>
                </div>
            </div>
            <p></p>
            <div id="log"></div>
        </div>
        <div class="col-sm">
            <label class="col-sm-4 col-form-label">Click to warehouse for generate client tasks </label>
            <div class="list-group">
                <button class="list-group-item list-group-item-action" id="Warehouse 1"
                        type="button"> Warehouse 1 123456789009
                </button>
                <button class="list-group-item list-group-item-action" id="Warehouse 2"
                        type="button"> Warehouse 2 098765432122
                </button>
            </div>
            <label class="col-sm-4 col-form-label">Clients</label>
            <div class="list-group">
                <button class="list-group-item list-group-item-action" id="09872"
                        type="button"> Loui Haley
                </button>
                <button class="list-group-item list-group-item-action" id="56781"
                        type="button"> Kajus Garner
                </button>
                <button class="list-group-item list-group-item-action" id="34562"
                        type="button"> Dulcie Hood
                </button>
            </div>
        </div>
    </div>
</section>

<script src="../static/2st_service_create_tasks.js"></script>
<script src="../static/notifications.js"></script>
<script>
    document.getElementById('09872').onclick = function () {
        document.getElementById('client_id').value = '09872'
    };
    document.getElementById('56781').onclick = function () {
        document.getElementById('client_id').value = '56781'
    };
    document.getElementById('34562').onclick = function () {
        document.getElementById('client_id').value = '34562'
    };

    document.getElementById('Warehouse 1').onclick = function () {
        document.getElementById('local_warehouse_id').value = '123456789009';
        document.getElementById('type_id').value = '1234';
    };
    document.getElementById('Warehouse 2').onclick = function () {
        document.getElementById('local_warehouse_id').value = '098765432122';
        document.getElementById('type_id').value = '5678';
    };
</script>